.app {
  max-width: 80rem;
}

.content {
  display: flex;
}

.selected {
  flex: 1 1 70%;
}

.videoList {
  flex: 1 1 30%;
}

@media screen and (max-width: 48rem) {
  .content {
    flex-direction: column;
  }
}
